@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: radial-gradient(circle at 20% 20%, #0b1b33, #061226 60%);
}

/* Hide scrollbar but keep scroll */
.custom-scroll::-webkit-scrollbar {
  width: 6px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #1f2a44;
  border-radius: 10px;
}

.custom-scroll {
  scrollbar-width: thin;
  scrollbar-color: #1f2a44 transparent;
}
